

#prvak-spacer{
    width: auto;
    height: 60px;
}



#end-spacer{
    height: 200px;
    width: auto;
}





#prvak-main-box{
    height: auto;
    width: auto;
}


#prvak-main-text-box{
    display: flexbox;
    justify-self: center;
    width: clamp(23.75rem, 50vw, 62.5rem);

    justify-content: center;
    align-items: center;
}





#prvak-month{
    display: flex;
    padding-left: 15vw;
    height: fit-content;
    align-items: center;
    font-size: clamp(2rem, 5vw, 3.4375rem);
    color: var(--text-color);
}



#prvak-subtitle{
    font-size: clamp(1.25rem, 3.2vw, 2.375rem);
    color: var(--text-color);
}

#prvak-simple-text{
    text-align: justify;
    text-indent: 5vw;
    font-size: clamp(1rem, 2.2vw, 1.375rem);
    color: var(--text-color);
}
