@media (max-width: 1000px) {
    .footer{
        display: none;
    }



    .links {
        display: none;
    }

    .site-name {
        pointer-events: none;
        flex: 1;
        text-align: center;
        /* leave exact space for logo + hamburger */
        max-width: calc(100% - (28px + 20px) + (30px + 20px)); 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .infis-logo-header {
        display: flex;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    label { 
        display: flex;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 20px;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1001; /* make sure it’s clickable */

    }
}

@media (max-width: 250px) {
    .infis-logo-header{
        display: none;
    }
    
    
    label{
        display: none;
    }
}

@media (max-width: 150px) {
    .site-name{
        display: none;
    }
}


@media (min-width: 1000px) {
    

    .site-name {
        display: none;
    }

    .my-name {
        letter-spacing: -2px;
    }

    .profile {
        letter-spacing: normal;
        margin-top: 200px; /* adjust as needed */
        flex-direction: row; /* Layout side-by-side */
        gap: clamp(1rem, 4vw, 4rem); /* Use your fluid gap */
    }

    /* Optional: Center the intro content when it's wide */
    .introduction {
        justify-content: center;
        /* Ensure there's enough horizontal padding on the body/main container */
    }
}







@media (max-width: 1000px) {


    .home-screen-info-links a {
        margin-top: 20px;
    }

    .home-screen-info-links {
        flex-direction: column;
    }

    .home-screen-info-site-name {
        display: none;
    }

    .home-screen-info-kontakt-button {
        display: none;
    }

    .profile {
        letter-spacing: normal;
    }
}
@media (min-width: 1000px) {
    .profile {
        letter-spacing: normal;
        margin-top: 200px; /* adjust as needed */
        flex-direction: row; /* Layout side-by-side */
        gap: clamp(1rem, 4vw, 4rem); /* Use your fluid gap */
    }

    /* Optional: Center the intro content when it's wide */
    .introduction {
        justify-content: center;
        /* Ensure there's enough horizontal padding on the body/main container */
    }
    
}

@media (max-width: 1000px) {
     .profile {
        letter-spacing: normal;
     }
    
}