.main-page{
    height: 100%;
}


.home-screen-info {
    margin-bottom: 0;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 0;
    padding-top: 2%;
}


.home-screen-info-site-name a {
    margin-top: 0;
    margin-left: clamp(1.8rem, 4vw, 3rem);
    font-size: clamp(1.8rem, 4vw, 3rem);
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;

}

.home-screen-info-site-name a:hover {
    color: var(--links-hover-color);
}

/* Right side — Kontakt */
.home-screen-info-kontakt-button a{
    margin-right: clamp(1.8rem, 4vw, 3rem);
    font-size: clamp(1.8rem, 4vw, 3rem);
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;

}

.home-screen-info-kontakt-button a:hover {
    color: var(--links-hover-color);
}



.introduction {
    margin-top: 18vh;
    display: flex;
    justify-content: center;
    opacity: 1; 
    transition: opacity 0.2s ease, transform 0.2s ease;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile {
    margin-top: 00px; /* adjust as needed */
    display: flex;
    flex-direction: row; /* stack logo and text vertically */
    align-items: center; /* center horizontally */

    gap: 20px;
}

.logo-circle {
    width: clamp(8rem, 15vw, 20rem);
    height: clamp(8rem, 15vw, 20rem);
    border-radius: 50%;
    background-color: var(--infis-logo-background-introduction);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.logo-circle img {
    width: clamp(40%, 8vw, 60%);
    height: center;
    transition: transform 0.4s ease;
}

.logo-circle:hover {
    transform: scale(1.1);
}

.info {
    display: flex;
    flex-direction: column;
}

.my-name {
    display: inline-block;
    font-size: clamp(2rem, 5vw, 8rem);
    font-weight: bold;
    color: var(--text-color);
    transition: color 0.3s ease, letter-spacing 0.5s ease, color 0.3s ease;
    letter-spacing: -2px;
}

.my-name:hover {
     color: var(--accent-color, #aaa);
     letter-spacing: 0px;

}

.my-name span {
    display: inline-block;
    transition: transform 0.4s ease;
}


.small-info {
    font-size: clamp(1.2rem, 2.5vw, 3rem);
    color: var(--text-color);
    transition: color 0.3s ease;
}

.small-info:hover {
    color: #aaa;
}







.home-screen-info-links {
    margin-top: 8vh;
    box-sizing: content-box;
    font-weight: 300;
    font-size: 32px;
    justify-content: center;
    display: flex;
    gap: 8vw;
    
}



.home-screen-info-links a{
    color: var(--accent-color);
    width: auto;
    font-weight: 300;
    font-size: 32px;

    justify-content: center;
    display: flex;
    gap: 100px;
    letter-spacing: -2px;
    transition: color 0.3s, transform 0.3s ease-in-out, letter-spacing 0.3s, font-weight 0.3s ease-in-out;
}

.home-screen-info-links a:hover{
    font-weight: 500;
    letter-spacing: 0px;
    color: var(--mainpage-info-links-color);
    transform: scale(1.05);
}